.ta-center{
  text-align: center;
}
.fz-24{
  font-size: 24px;
}

.d-flex{
  display: flex;
}

.ai-center{
  align-items: center;
}

.poa{
  position: absolute;
}

.por{
  position: relative;
}

.d-none{
  display: none;
}

// .c3{
//   .c3-chart-arc text{
//     display: none;
//   }
// }